*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --darkGray: #383838;

}
/* header */
header{
    background-color: #4673ec;
}

/* flexed navbar */
nav{
    background-color: #3161E0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* element dimension */
#logo, .access, #links{
    flex-basis: 100px;
    height: 50px;
    background-color: var(--darkGray);
    border: 1px white solid;
}
#links{
    flex-basis: 30%;
}
nav div{
    margin-block: 20px;
}


/* flexed banner */
#banner{
    padding-block: 8em;
    display: flex;
    justify-content: center;
}


/* flexed white banner */
.inner-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 800px;
    height: 350px;
    background-color: var(--darkGray);
}


.sec{
    background-color: white;
    flex-basis: 20%;
    flex-grow: 0;
}
.grow1{
    flex-grow: 1;
}



.gray{
    background-color:#808080;
}
.white{
    background-color: white;
}


/* first section */
.flexbox-row{
    display: flex;
    justify-content: center;
    gap:10%;
    padding-block: 12em;
}
#first-sec .img-element{
    width: 600px;
    height: 500px;
    background-color: gray;
}

#first-sec .text-element{
    width: 350px;
    height: 550px;
    background-color: gray;
}

#first-sec .title{
    height: 60%;
    background-color: var(--darkGray);
}

/* second section */

#second-sec .img-element{
    width: 600px;
    height: 500px;
    background-color: white;
}

#second-sec .text-element{
    width: 350px;
    height: 360px;
    background-color: white;
}


#second-sec .title{
    height: 40%;
    background-color: var(--darkGray);
}


/* third section */

#third-sec .img-element{
    width: 600px;
    height: 500px;
    background-color: gray;
}

#third-sec .text-element{
    width: 350px;
    background-color: gray;
    margin-top:2em;
    height: 390px;
}

#third-sec .title{
    background-color: var(--darkGray);
    height: 40%;
}

/* fourth sec */

.flexbox-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 12em;
    gap: 3em;
}
.cont-title{
    height: 200px;
    width: 65%;
    background-color: white;
}
.cont-title .title{
    height: 40%;
    background-color: var(--darkGray);
}

.fourth-sec-img{
    width:65%;
    height: 500px;
    background-color: white;
}

.cont-btn{
    height: 150px;
    width: 35%;
    background-color: white;
}
.cont-btn .title{
    height:50%;
    background-color: var(--darkGray);
}

footer{
    background-color: black;
}
#cont{
    width: 65%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
#cont{
    padding-block: 9em;
}
.col{
    height: 500px;
    width: 15%;
    background-color: var(--darkGray);
    border: 1px white solid;
    
}
.mgn{
    width: 30%;   
}

hr{
    margin-block: 20px;
}
.flex-f{
    display: flex;
    justify-content: space-between;
}
.btn{
    flex-basis: 100px;
    height: 50px;
    background-color: var(--darkGray);
    border: 1px white solid;
}
