*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* header */
header{
    background-color: #4673ec;
}

/* flexed navbar */
nav{
    background-color: #3161E0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* element dimension */
#logo, .access, #searchbar{
    flex-basis: 100px;
    height: 50px;
    background-color: #000000;
}

#searchbar{
    flex-basis: 30%;
}


nav div{
    margin-block: 20px;
}

/* flexed banner */
#banner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flexed white banner */
.inner-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 800px;
    height: 350px;
    background-color: black;
}


.sec{
    background-color: white;
    flex-basis: 20%;
    flex-grow: 0;
}
.grow1{
    flex-grow: 1;
}
