*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --darkGray: #383838;
    --blackBorder: 2px solid black;
    --whiteBorder: 2px solid white;;

}
/* header */
header{
    background-color: #4673ec;
}

/* flexed navbar */
nav{
    background-color: #3161E0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* element dimension */
.btn{
    flex-basis: 100px;
    height: 50px;
    background-color: var(--darkGray);
    border:var(--whiteBorder)
}

#links{
    flex-basis: 30%;
}
nav div{
    margin-block: 20px;
}


/* flexed banner */
#banner{
    padding-block: 8em;
    display: flex;
    justify-content: center;
}

.inner-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 800px;
    height: 350px;
    border:1px solid black;
}

.sec{
    background-color: white;
    flex-basis: 20%;
    border: var(--blackBorder);
}
.grow{
    flex-grow: 1;
}

.gray{
    background-color:#808080;
}
.white{
    background-color: white;
}

.cont{
    width: 75%;
    margin: 0 auto;
    
}

/* first section */
.flexbox-row{
    display: flex;
    justify-content: center;
    gap:10%;
    padding-block: 12em;
}

#first-sec .img-element{
    width: 600px;
    height: 500px;
    background-color: gray;
    border: var(--blackBorder);
}

#first-sec .text-element{
    width: 350px;
    height: 550px;
    background-color: gray;
    border: var(--blackBorder);
}

#first-sec .title{
    height: 60%;
    background-color: #383838;
}




/* second section */

#second-sec .img-element{
    width: 600px;
    height: 500px;
    background-color: white;
    border: var(--blackBorder);
}

#second-sec .text-element{
    width: 350px;
    height: 360px;
    background-color: white;
    border: var(--blackBorder);
}


#second-sec .title{
    height: 40%;
    background-color: var(--darkGray);
}


/* third section */

#third-sec .img-element{
    width: 600px;
    height: 500px;
    background-color: gray;
    border: var(--blackBorder);
}

#third-sec .text-element{
    width: 350px;
    background-color: gray;
    margin-top:2em;
    height: 390px;
    border: var(--blackBorder);
}

#third-sec .title{
    background-color: var(--darkGray);
    height: 40%;
}

/* fourth sec */

.flexbox-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 12em;
    gap: 4em;
}

.container-title{
    height: 200px;
    background-color: white;
    border: var(--blackBorder);
}
.container-title .fourt-sec-title{
    height: 40%;
    background-color: var(--darkGray);
}

.fourth-sec-img{
    border: var(--blackBorder);
    height: 500px;
    background-color: white;
}

.cont-btn .title{
    height:50%;
    background-color: var(--darkGray);
}

.cont-btn{
    height: 150px;
    width: 55%;
    background-color: white;
    border: var(--blackBorder);
}

footer{
    background-color: black;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.padding-b-7{
    padding-block: 7em;
}
.col{
    height: 500px;
    width: 15%;
    background-color: var(--darkGray);
    border: 1px white solid;
}

.footer-first-col{
    width: 30%;   
}

hr.cont{
    margin-block: 20px;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
}
